# https://stackoverflow.com/questions/57431439/how-to-set-an-environment-variable-to-be-used-during-npm-install
# https://stackoverflow.com/questions/63187371/puppeteer-is-not-able-to-install-error-failed-to-set-up-chromium-r782078-set
PUPPETEER_SKIP_DOWNLOAD=true
